<div class="container jumbotron">
    <div class="tableTitle" >
        <h2>Submit a New Remix Request</h2>
    </div>
    <div >
        <form ng-submit="controller.addRmxRequest()">
            <div class="form-group">
                <label>Song Original Name:</label>
                <input class="form-control" type="text" ng-model="controller.remix.originalName" />
            </div>
            <div class="form-group">
                <label>YouTube Link to Original Work:</label>
                <input class="form-control" type="url" ng-model="controller.remix.youtubeUrl" />
            </div>
            <div class="dropdown form-group">
                <label>What genre would you like the remix to be?:</label>
                <select class="form-control" ng-model="controller.remix.requestedGenre.id" ng-options="genre.id as genre.name for genre in controller.genres" required>
                    <option value="">---Select a Genre---</option> <!--empty value is needed to display the text inside the option tags. -->
                </select>

            </div>
            <div class="form-group">
                <label>Tell me a little bit about your remix idea:</label>
                <textarea class="form-control" ng-model="controller.remix.userNote" spellcheck="true"></textarea>
                
            </div>

            <input type="submit" class="btn btn-primary" />
            <button class="btn btn-xs" ui-sref="userDashboard">Cancel</button>
        </form>
    </div>
</div>