<div class="container">
    <div>
        <h2>New Remix Request</h2>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
        <form ng-submit="controller.addRmxRequest()">
            <div class="form-group">
                <label>Title:</label>
                <input class="form-control" type="text" ng-model="controller.remix.originalName" />
            </div>
            <div class="form-group">
                <label> Notes:</label>
                <input class="form-control" type="text" ng-model="controller.remix.userNote" />
            </div>
            <div class="dropdown form-group">
                <label>What genre should the remix be?:</label>
                <select class="form-control" ng-model="controller.remix.requestedGenre.id" ng-options="genre.id as genre.name for genre in controller.genres" required>
                    <option value="">---Select a Genre---</option> <!--empty value is needed to display the text inside the option tags. -->
                </select>

            </div>
            <input type="submit" class="btn btn-primary" />
        </form>
    </div>
</div>