<div class="row jumbotron col-lg-10 col-md-10 col-sm-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-1">
    <div class="text-center tableTitle">
        <h2>{{controller.message}}</h2>
        <h5>From here you can edit, delete and check the status of all your submissions...</h5>
    </div>

    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Originial Song Name:</th>
                    <th>Requested Remix Genre:</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="r in controller.remixes">
                    <td>{{r.originalName}}</td>
                    <td>{{r.userNote}}</td>
                    <td><button class="btn btn-warning" ui-sref="editRemixRequest({id: r.id})">Edit</button></td>
                    <td><button class="btn btn-danger" ng-click="controller.deleteRemix(r.id)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>