<!--<fieldset>
    <legend>Login with a Social Provider</legend>

    <ul>
        <li ng-repeat="externalLogin in account.externalLogins">
            <a target="_self" href="/api/account/ExternalLogin?provider={{externalLogin.authenticationScheme}}&returnUrl=/">{{externalLogin.displayName}}</a>
        </li>
    </ul>

</fieldset>-->

<div class="jumbotron col-lg-8 col-md-8 col-sm-8 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-2"  >
    <fieldset>
        <h3>Please Enter Your Credentials</h3>
        <ul class="errorArea">
            <li ng-repeat="error in controller.validationMessages">
                <h5>{{error}}</h5>
            </li>
        </ul>

        <form ng-submit="controller.login()">
            <div class="form-group" >
                <label>Email:</label>
                <input class="form-control" ng-model="controller.loginUser.email" placeholder="Please enter your email" />
            </div>
            <div class="form-group" >
                <label>Password:</label>
                <input class="form-control" ng-model="controller.loginUser.password" placeholder="Please enter your password" type="password" />
            </div>
            <input type="submit" value="Login" class="btn btn-primary" />
            <button ui-sref="register" class="btn btn-info btn-sm" >Register</button>
        </form>
    </fieldset>
</div>