<html ng-app="PersonalProject">
<head>
    <title>Elevated Sounds</title>
    <link href="~/images/favicon.ico" type="image/x-icon" rel="icon" />
    <link href="https://fonts.googleapis.com/css?family=Oleo+Script" rel="stylesheet">
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/bower_components/angular-material/angular-material.css" rel="stylesheet" />
    <link href="~/css/simple-sidebar.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <base href="/" />
</head>
<body ng-controller="AccountController as account">

    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand" >
                    <a href="/">
                        Elevated Sounds
                    </a>
                </li>
                <li>
                    <a href="/login" ng-show="!account.isLoggedIn()">Login</a>
                </li>
                <li>
                    <a href="/userDashboard" ng-show="account.isLoggedIn()">Your Dashboard</a>
                </li>
                <li>
                    <a href="addRemixRequest" ng-show="account.isLoggedIn()">Request New Remix</a>
                </li>
                <li>
                    <a href="/adminDashboard" ng-show="account.getClaim('IsAdmin')">Admin</a>
                </li>
                <li>
                    <a ng-click="account.logout()" ng-show="account.isLoggedIn()">Logout</a>
                </li>
                <li>
                    <h6 ng-show="account.isLoggedIn()">User: "{{account.getUserName()}}"</h6>
                </li>
                <li>
                    <iframe width="0" height="0" src="https://www.youtube.com/embed/cx4Y4ox4BhI?autoplay=1;rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                </li>
            </ul>
            
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <a href="#menu-toggle" class="btn btnCustom btn-xs bottom-left" id="menu-toggle">Navigation</a>
                        <div class="jumbotron">
                            <h1 class="Logogo text-center">Elevated Sounds</h1>
                        </div>
                        <ui-view></ui-view>
                        <footer class="left-bottom"></footer>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>

    <!-- Library Files -->
    <script src="~/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="~/bower_components/angular-aria/angular-aria.js"></script>
    <script src="/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="~/bower_components/angular-material/angular-material.js"></script>
    <script src="/bower_components/angular-touch/angular-touch.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>

    <!-- App Files-->
    <script src="/ngapp/app.js"></script>
    <script src="/ngapp/controllers/controllers.js"></script>
    <script src="/ngapp/services/services.js"></script>


    <!-- Security -->
    <script src="/ngapp/controllers/accountcontroller.js"></script>
    <script src="/ngapp/services/accountservice.js"></script>


    <!--This is the toggle side nav code-->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>


</body>
</html>
